name: Metrics

on:
  schedule:
    - cron: "0 */12 * * *"   # Actualiza cada 12 horas
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: iam31416
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Madrid

          plugin_isocalendar: yes
          plugin_languages: yes
          plugin_habits: yes
          plugin_traffic: yes

